.footer {
    background-color: var(--color-primary);
    color: white;
    padding: 2.5rem 0;
    margin-top: auto;
    text-align: center;
}

.copyright {
    margin: 0;
    font-weight: 500;
}

.address {
    margin: 0.5rem 0 0;
    font-size: 0.875rem;
    opacity: 0.8;
}